/* General styles */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

/* Header styling */
header {
  width: 100%;
  background-color: aliceblue;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;

}
#logogif {
  max-height: 70px; /* Adjusted logo size */
  margin-right: auto;
}

.button-container {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-container a {
  display: inline-block;
  width: 120px; /* Set width to 50px */
  height: 120px; /* Set height to 50px */
}

.button-container a img {
  width: 80%; /* Ensure the image covers the link area */
  height: 100%; /* Ensure the image covers the link area */
  object-fit: cover; /* Ensure the image covers the area */
}

main{
  flex: 1; /* Takes up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styling */
footer {
  width: 100%;
  text-align: center;
  color: #90ee90;
  padding: 20px;
  margin-top: auto; /* Pushes footer to the bottom */
}